*{
    margin: 0;
    padding: 0;
}

/* Nav Bar */
.nav-container{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.logo-container{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo{
    font-size: 30px;
}

.menus{
    display: flex;
    color: white;
    padding: 25px;
}

.menu{
    padding: 0px 10px;
    list-style: none;
}
